parameters:
  customRulesetUsed: true
  reportUnmatchedIgnoredErrors: false
  checkMissingVarTagTypehint: true
  checkMissingTypehints: true
  ergebnis:
    final:
      allowAbstractClasses: true
    noNullableReturnTypeDeclaration:
      enabled: false
  # Ignore phpstan-drupal extension's rules.
  ignoreErrors:
    -
      identifier: ergebnis.noExtends
    -
      identifier: ergebnis.noParameterWithNullDefaultValue
  drupal:
    entityMapping:
      node:
        class: Drupal\node\Entity\Node
        storage: Drupal\node\NodeStorage
      taxonomy_term:
        class: Drupal\taxonomy\Entity\Term
        storage: Drupal\taxonomy\TermStorage
      user:
        class: Drupal\user\Entity\User
        storage: Drupal\user\UserStorage
      block:
        class: Drupal\block\Entity\Block
services:
  -
    class: PHPStan\Rules\Functions\MissingFunctionReturnTypehintRule
    arguments:
      missingTypehintCheck: @PHPStan\Rules\MissingTypehintCheck
    tags:
      - phpstan.rules.rule
  -
    class: PHPStan\Rules\Methods\ReturnTypeRule
    tags:
      - phpstan.rules.rule
  - class: PHPStan\Rules\Methods\MissingMethodReturnTypehintRule
    tags:
      - phpstan.rules.rule
